In [1]:
from sklearn.datasets import load_iris
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
iris = load_iris()

In [2]:
x = iris.data
y = iris.target

In [3]:
print (x.shape)
print (y.shape)

(150, 4)
(150,)

In [4]:
pd.DataFrame(x, columns = iris.feature_names).head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [5]:
print(y)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

4 steps of scikit learning :
import model ->
instantiate ->
fit

In [6]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()

knn.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [7]:
knn.predict([[3,5,4,2]])

array([1])

In [8]:
simple_train =['call you tonight', 'Call me a cab' ,'Please call me... Please!!']

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [10]:
vect.fit(simple_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [11]:
vect.get_feature_names()

['cab', 'call', 'me', 'please', 'tonight', 'you']

In [12]:
simple_train_dtm = vect.transform(simple_train)
simple_train_dtm

<3x6 sparse matrix of type '<class 'numpy.int64'>'
	with 9 stored elements in Compressed Sparse Row format>

In [13]:
print(simple_train_dtm)

  (0, 1)	1
  (0, 4)	1
  (0, 5)	1
  (1, 0)	1
  (1, 1)	1
  (1, 2)	1
  (2, 1)	1
  (2, 2)	1
  (2, 3)	2

In [14]:
simple_train_dtm.toarray()

array([[0, 1, 0, 0, 1, 1],
       [1, 1, 1, 0, 0, 0],
       [0, 1, 1, 2, 0, 0]])

In [15]:
 pd.DataFrame(simple_train_dtm.toarray(), columns = vect.get_feature_names())

   cab  call  me  please  tonight  you
0    0     1   0       0        1    1
1    1     1   1       0        0    0
2    0     1   1       2        0    0

In [16]:
type(simple_train_dtm)

scipy.sparse.csr.csr_matrix

In [17]:
print(simple_train_dtm)

  (0, 1)	1
  (0, 4)	1
  (0, 5)	1
  (1, 0)	1
  (1, 1)	1
  (1, 2)	1
  (2, 1)	1
  (2, 2)	1
  (2, 3)	2

In [20]:
url = 'https://raw.githubusercontent.com/justmarkham/pycon-2016-tutorial/master/data/sms.tsv'
sms = pd.read_table(url, header=None, names=['label', 'message'])

In [21]:
sms.shape

(5572, 2)

In [22]:
sms.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [23]:
sms.label.value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [24]:
sms['label_num']= sms.label.map({'ham':0 , 'spam':1 })

In [25]:
print(sms.head())

  label                                            message  label_num
0   ham  Go until jurong point, crazy.. Available only ...          0
1   ham                      Ok lar... Joking wif u oni...          0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...          1
3   ham  U dun say so early hor... U c already then say...          0
4   ham  Nah I don't think he goes to usf, he lives aro...          0

In [26]:
sms.head()

  label                                            message  label_num
0   ham  Go until jurong point, crazy.. Available only ...          0
1   ham                      Ok lar... Joking wif u oni...          0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...          1
3   ham  U dun say so early hor... U c already then say...          0
4   ham  Nah I don't think he goes to usf, he lives aro...          0

In [27]:
x = sms.message
y = sms.label_num
print(x.shape)
print(y.shape)

(5572,)
(5572,)

In [28]:
#random state is use to have same split every time we run
from sklearn.cross_validation import train_test_split
X_train , X_test ,y_train , y_test = train_test_split(x,y ,random_state =1)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4179,)
(1393,)
(4179,)
(1393,)

/home/akshay/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [29]:
vect = CountVectorizer()

In [30]:
vect.fit(X_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [32]:
print(X_train.shape)
print(type(X_train))

(4179,)
<class 'pandas.core.series.Series'>

In [33]:
X_train_dtm = vect.transform(X_train)
print(X_train_dtm)

  (0, 50)	1
  (0, 264)	1
  (0, 509)	1
  (0, 1552)	1
  (0, 1572)	1
  (0, 2022)	1
  (0, 2864)	2
  (0, 3170)	1
  (0, 3181)	1
  (0, 3880)	1
  (0, 3971)	1
  (0, 4375)	1
  (0, 4662)	1
  (0, 4743)	1
  (0, 4779)	1
  (0, 4781)	1
  (0, 4983)	1
  (0, 4987)	1
  (0, 5193)	1
  (0, 5479)	1
  (0, 6656)	1
  (0, 6892)	1
  (0, 7424)	1
  (1, 2222)	1
  (1, 3316)	1
  :	:
  (4177, 2744)	1
  (4177, 2786)	1
  (4177, 3629)	1
  (4177, 3700)	1
  (4177, 3738)	1
  (4177, 4255)	1
  (4177, 4446)	1
  (4177, 4508)	1
  (4177, 4778)	1
  (4177, 4934)	1
  (4177, 5403)	1
  (4177, 5490)	1
  (4177, 5656)	1
  (4177, 5796)	1
  (4177, 6034)	1
  (4177, 6514)	1
  (4177, 6577)	1
  (4177, 6656)	1
  (4177, 6662)	1
  (4177, 6887)	1
  (4177, 7257)	1
  (4178, 1691)	1
  (4178, 4238)	1
  (4178, 5999)	1
  (4178, 7257)	1

In [34]:
X_train_dtm = vect.fit_transform(X_train)

In [35]:
X_train_dtm

<4179x7456 sparse matrix of type '<class 'numpy.int64'>'
	with 55209 stored elements in Compressed Sparse Row format>

In [36]:
X_test_dtm = vect.transform(X_test)
X_test_dtm

<1393x7456 sparse matrix of type '<class 'numpy.int64'>'
	with 17604 stored elements in Compressed Sparse Row format>

In [37]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [38]:
%time nb.fit(X_train_dtm , y_train)

CPU times: user 5.05 ms, sys: 352 µs, total: 5.4 ms
Wall time: 6.63 ms

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [39]:
y_pred_class = nb.predict(X_test_dtm)

In [40]:
from sklearn import metrics
metrics.accuracy_score(y_test , y_pred_class)

0.9885139985642498

In [41]:
sentence = ['URGENT! You have won a 1 week FREE membership in our £100,000 Prize Jackpot!','I HAVE A DATE ON SUNDAY WITH Someone']

In [42]:
test = vect.transform(sentence)

In [43]:
print(test)

  (0, 1)	1
  (0, 245)	1
  (0, 2864)	1
  (0, 3235)	1
  (0, 3502)	1
  (0, 3644)	1
  (0, 4270)	1
  (0, 4809)	1
  (0, 5209)	1
  (0, 6908)	1
  (0, 7143)	1
  (0, 7287)	1
  (0, 7420)	1
  (1, 2097)	1
  (1, 3235)	1
  (1, 4743)	1
  (1, 6034)	1
  (1, 6334)	1
  (1, 7257)	1

In [44]:
print(nb.predict(test))

[1 0]